[2015-03-01 01:24] Hoolean opened #1 "Message-parts are not aligned in columns"
Log messages are not aligned in columns. Usually, the standard is to right-justify nicks in their own column and to left-justify the messages in a following column, to allow for the best readability and flow of conversation.

[2015-03-01 01:24] Hoolean opened #2 "Lack of link to log tail"
There is no link to the tail page for logs.

[2015-03-01 01:25] Hoolean opened #3 "Raw log"
There should be an option to view the 'raw' log, in plain text. This allows for easy downloading/scraping/low-bandwidth/lightweight viewing of logs.

[2015-03-01 01:27] Hoolean opened #4 "Shift-clicking the brush does not select a range of lines"
It is common practise in UIs to allow for shift-clicking line-numbers with the mouse to select a range of lines. Instead, multiple lines are selected; this behaviour should be bound to a different modifier-key and the range-selection behaviour should be used with shift.

[2015-03-01 01:28] lol768 opened #5 "No link to archives"
Was considering a calendar format

[2015-03-01 01:28] lol768 opened #6 "Homepage design"
https://github.com/korobi/Web/issues/28

[2015-03-01 01:28] lol768 opened #7 "Implementation of mockup for channel summary page"
See Web repo

[2015-03-01 01:29] Hoolean opened #8 "Brush"
Research more appropriate icons, such as :8ball: or :palm_tree:.

[2015-03-01 01:30] lol768 commented on #8
Suggest removal and switch to linked timestamps

[2015-03-01 01:31] lol768 opened #9 "New UI Components: Labels, buttons, breadcrumbs and alerts"
https://korobi.io/style-guide
- [ ] labels
- [ ] buttons
- [ ] breadcrumbs
- [ ] alerts

[2015-03-01 01:32] Hoolean commented on #8
Timestamps would seem appropriate as they are usually used to link to individual pieces of content displayed in a list. (see: twitter, [this GitHub comment](https://github.com/korobi/Korobi/issues/8#issuecomment-76562871))

[2015-03-01 01:33] lol768 opened #10 "Documentation"
- [x] Introduction to Korobi / What is Korobi?
- [ ] Feature suggestions and bugs
- [x] Using channel commands
- [ ] Accessing channel logs
- [ ] Using channel stats
- [x] Requesting the bot for your channel / Requesting Korobi
- [ ] Moderation features
- [x] Channel management
- [ ] auto message functionality #52

[2015-03-01 01:34] Hoolean opened #11 "Light theme"
By no means a requirement but potentially a lighter theme would be preferential for some users and a choice between high-contrast themes would be appreciated.

I would be interested in hearing your opinions on this.

[2015-03-01 01:38] Hoolean opened #12 "Line selection is lacking"
Currently, the following changes are needed to line selection:
- The ability to deselect by clicking again
- The ability to select ranges my holding down the Shift modifier key [(see Issue#4)](https://github.com/korobi/Korobi/issues/4)

[2015-03-01 01:38] lol768 commented on #11
Click the link in the footer on the left.

Not all UI components work 100% with it yet.

[2015-03-01 01:38] #11 closed, assigned to nobody

[2015-03-01 01:39] Hoolean commented on #4
Merged into [Issue#12](https://github.com/korobi/Korobi/issues/12)

[2015-03-01 01:39] lol768 commented on #4
Suggest closing this.

[2015-03-01 05:27] #4 closed, assigned to nobody

[2015-03-01 18:38] lol768 opened #13 "Prepend command with pipe to notice"
Also:

~~.cmd @username~~

~~Should print "username: <cmdtext>" to chat~~

~~.cmd @@username~~

~~Should print "username: <cmdtext>" as notice to command sender and username.~~

Document .cmd username@[@]

[2015-03-01 22:11] lol768 opened #14 "Display docs for adding an alias after a command is added via notice"
+drtshock | after you set a command it should tell you the add alias syntax
+drtshock | so send 2 notices. the "command x has been set to y" and "use addalias <cmd> <alias> to add aliases"

[2015-03-02 03:30] kashike opened #15 "<@mbaxter> removal doens't comment that it's an action"

[2015-03-02 03:46] #15 closed, assigned to nobody

[2015-03-02 07:29] lol768 opened #16 "Put first row of stats table in <thead>"
Req'd for header styling, rounded corners etc

ref [Korobi/pisg](https://github.com/korobi/pisg)

[2015-03-02 15:48] lol768 opened #17 "Fix failing inverted colour test"

[2015-03-02 19:35] lol768 commented on #17
Think this is done.

[2015-03-02 19:35] #17 closed, assigned to lol768

[2015-03-02 19:35] lol768 opened #18 "CloudFlare treats hostmasks as emails and auto-injects a ton of JS into each log line"
Any chance this can be turned off?

[2015-03-02 19:48] #12 closed, assigned to nobody

[2015-03-02 19:52] lol768 commented on #12
The behaviour has changed in the following ways:
- Adding individual lines has been changed to use the `Ctrl` key modifier
- A new check has been added for when the `Shift` modifier key is being held down. This highlights a range of lines based on whichever line you had last selected
- Clicking on a sole line _which is already highlighted when no other lines are highlighted_ without any modifier k

[2015-03-02 19:52] lol768 commented on #2
Depends on #9

[2015-03-02 19:56] lol768 commented on #1
Thanks to @bendem, we have http://codepen.io/anon/pen/pvKqqy to work with on this.

[2015-03-02 19:57] lol768 commented on #5
Also depends on #9

[2015-03-02 21:22] bendem commented on #1
If you need any help styling stuff, ~~I'm the men~~ let me know. :wink:

[2015-03-02 21:30] bendem commented on #8
That can be done by setting the tabindex of the row container to 0 (making it focusable) and styling :focus. That way, link can be handled easily by just adding #row-id.
Behavior should be consistent across browsers.

[Sample](http://codepen.io/anon/pen/KwBpPM) (click a line, you'll get what I mean, # target is broken because of the codepen iframe)

[2015-03-03 01:03] kashike commented on #18
This should be disabled.

[2015-03-03 01:03] #18 closed, assigned to kashike

[2015-03-03 02:40] lol768 commented on #18
cheers

[2015-03-05 00:01] lol768 commented on #3
Would JSON be an appropriate compromise?

[2015-03-05 00:29] kashike commented on #3
@jamierocks

[2015-03-05 00:38] #1 closed, assigned to nobody

[2015-03-05 00:38] lol768 commented on #1
:heart:

[2015-03-05 01:02] lol768 opened #19 "CSP & HSTS"
http://www.html5rocks.com/en/tutorials/security/content-security-policy/
https://blog.cloudflare.com/enforce-web-policy-with-hypertext-strict-transport-security-hsts/

[2015-03-05 16:06] jamierocks commented on #3
@kashike ?

[2015-03-05 16:07] kashike commented on #3
I totally didn't poke the wrong person. Sorry, jamie

[2015-03-05 16:08] jamierocks commented on #3
lol, it's ok :P

[2015-03-05 17:46] lol768 commented on #19
HSTS done I believe - thanks kashike

[2015-03-05 17:47] lol768 opened #20 "Stats, abbr elements in table headers are not bold"
See https://korobi.io/esper/drtshock/stats

[2015-03-05 19:37] bendem commented on #20
Well, that's #16

[2015-03-07 01:08] #20 closed, assigned to bendem

[2015-03-07 01:08] #16 closed, assigned to nobody

[2015-03-07 01:14] lol768 opened #21 "Search"

[2015-03-07 01:16] lol768 commented on #21
I think we can do this with a mango query.

[2015-03-07 01:36] lol768 opened #22 "fix commands page table"
- no `thead`
- `th`s in `tbody`

[2015-03-07 01:39] kashike commented on #21
"I think we can do this with a mango query."
Possibly, although K/ES is quite nice too.

[2015-03-07 02:20] #22 closed, assigned to bendem

[2015-03-07 02:38] bendem commented on #8
Brushes got nuked

[2015-03-07 02:38] #8 closed, assigned to nobody

[2015-03-07 08:29] kashike opened #23 "Text parser does not parse single colour character as reset equivalent for colours"
See korobi/Web#10.

[2015-03-07 12:21] lol768 commented on #8
excellent

[2015-03-07 12:22] lol768 commented on #21
if you have the RAM :P

[2015-03-07 18:41] lol768 opened #24 "Sensible default styles for ul li"
I believe the reset is removing these. It'd be great if we could get some sensible styles (e.g. discs on the inside being displayed, maybe some indentation) applied to normal lists. See deployment page view for more info

[2015-03-07 20:46] lol768 commented on #24
Cheers bendem!

[2015-03-08 01:50] lol768 opened #25 "Freya doesn't log Korobi's own messages"

[2015-03-08 01:50] lol768 commented on #19
All done

[2015-03-08 01:50] #19 closed, assigned to lol768

[2015-03-08 01:50] lol768 commented on #3
@Hoolean

[2015-03-08 01:51] lol768 commented on #5
decided on a navbar - button group structure

[2015-03-08 09:47] bendem commented on #3
Json looks like this for now (subject to changes)

[code]

[2015-03-08 14:30] lol768 opened #26 "Tables look crap (again) on the light theme"
Most things do, actually

[2015-03-08 14:35] Zarthus opened #27 "Use weechat-style status messages instead of two asterisks."
Weechat uses `<--` to indicate parts and quits, `-->` to indicate joins, and `--` for anything else.

Colour is optional, I like the gray look, but you might want to make joins green, parts red, and other  purple, or some sort of flavour like that.

[2015-03-08 14:40] lol768 commented on #27
Screenshot:

![](https://i.imgur.com/UTJhyiy.png)

[2015-03-08 14:48] #27 closed, assigned to nobody

[2015-03-08 16:16] kashike commented on #25
The majority of this has been done in https://github.com/korobi/Freya/commit/38eefea7bc7b2016a3c246b06cd6ce3260dad164, but I'll go over the codebase when I'm not dying due to lack of sleep.

[2015-03-08 16:23] #23 closed, assigned to nobody

[2015-03-08 16:23] kashike commented on #13
This has been done (https://github.com/korobi/Freya/commit/2c3af691902922d951b70daa7d763d773a0abf92, https://github.com/korobi/Freya/commit/74f67efe4ba3f46230138d85cf831cdd03068739), but using different prefixes (as suggested by @Zarthus). Will be deployed later on.

[2015-03-08 16:23] #13 closed, assigned to kashike

[2015-03-10 13:29] bendem commented on #24
I guess that can be closed now?

[2015-03-10 16:02] lol768 commented on #24
I do believe so

[2015-03-10 16:02] #24 closed, assigned to bendem

[2015-03-10 16:43] lol768 opened #28 "[CRITICAL] IRC messages aren't properly escaped with the new parsing code"
**Update (15-03-2015)**: This regressed, see https://github.com/korobi/Korobi/issues/28#issuecomment-80768589 but has been patched in such a way that breaks links. Preferable to allowing arbitrary HTML content IMO.

HTML tags in IRC messages are blindly passed to the view on staging without being escaped in any way. This allows users to inject arbitrary HTML into the page by sending HTML to a logg

[2015-03-10 17:53] bendem commented on #28
Should be fixed by https://github.com/korobi/Web/compare/5abb82987fd083ac4549bb6045fe4ba225735541...1263fa464243def3514bb065ff5714f6ac3dc514

[2015-03-10 19:18] lol768 opened #29 "What do we want to see before the next deploy to prod?"
#9 #10 #2 are things I'd like done. Ultimately it'd be nice to see a rapid cycle of "work, tets on staging, deploy to production once done".

@bendem @Kashike

[2015-03-10 19:58] kashike commented on #29
I'd like for the channel overview page to be sane, it's a mess right now

[2015-03-10 20:02] Zarthus opened #30 "Instead of wrapping names, cut them off at max length."
Weechat has an extra last character sized slot for nick-cut offs.

[code]

This would be neat for Web as well, I imagine.

[2015-03-10 20:06] Zarthus opened #31 "Highlight all things ?nick=Zarthus (or #L1,L5,...) said"
With the current line highlighting, by clicking on a name you _could_ make it so that all things the nick has said get highlighted.

I'm not sure how well it will work out, but I think the idea might be nice to consider.

[2015-03-10 20:07] Zarthus opened #32 "Toggle message types."
- [x] Basic join/part message toggling
- [ ] Advanced toggling for each message type

[2015-03-10 20:12] Zarthus opened #33 "Hide lines by pressing a 'X' at the very right side of the UI"
Sometimes you want to take a screenshot, or copy a piece of text. But there's something blocking the way!

By having a 'hide this line' button this shall no longer be the problem.

(might collide a bit with the highlighting, but one would be local only (removing lines being per-refresh), and the other would be for sharing with others (in-url))

[2015-03-10 22:05] lol768 commented on #33
I suggest we only show this when hovering over the line to minimise clutter and repetition.

[2015-03-10 22:05] lol768 commented on #31
Neat concept

[2015-03-10 22:09] bendem commented on #32
That's totally needed

[2015-03-10 22:10] bendem commented on #30
Could work with text-overflow, but I'm not sure how the `display: table-cell` will like being `max-width`'d

[2015-03-10 22:11] lol768 commented on #30
@bendem Can't we truncate it server-side? Or do you want this to be dependent on the screen width?

[2015-03-10 22:13] lol768 commented on #32
@bendem Something I'd like to see is giving lines more 'semantic' classes/data attributes, e.g. the `event-user-quit` class below:

[code]

[2015-03-10 22:14] lol768 commented on #26
@bendem Happy for this to be closed?

[2015-03-10 22:16] lol768 opened #34 "Investigate new stats system"
https://github.com/influxdb/influxdb-java

http://influxdb.com/docs/v0.8/introduction/getting_started.html

[2015-03-10 22:16] lol768 commented on #10
Docs reader is done

[2015-03-10 22:20] bendem commented on #26
I don't know, I just looked at tables for the light theme, no idea how other components look like

[2015-03-10 22:22] bendem commented on #30
Since the width of the logs is responsive, I'm not sure we can identify a maximum length to target when truncating.

[2015-03-10 22:26] bendem commented on #32
Storing `$chat->getType()` [here](https://github.com/korobi/Web/blob/master/src/Korobi/WebBundle/Controller/ChannelController.php#L257) would make that available to the view and the json/tail.

[2015-03-10 22:30] bendem commented on #29
I've mainly been looking for bugs to fix. The new parser was kind of a mess :-)
Else then that, I'd like to see #32 in the next production push.

[2015-03-10 22:48] lol768 commented on #32
Sounds like a plan

[2015-03-10 22:59] Zarthus commented on #33
I was thinking outside of the message box actually, and yes, only when you hover close to it.

[2015-03-11 00:14] lol768 opened #35 "Flash highlighted messages on page load"
à la StackExchange sites (but reversed):

http://programmers.stackexchange.com/questions/159637/what-is-the-mars-curiosity-rovers-software-built-in/159638#159638

Maybe also a smooth animated scroll down to them?

[2015-03-11 08:30] #25 closed, assigned to kashike

[2015-03-11 12:45] lol768 commented on #34
@Kashike I've had a look at InfluxDB and I'm really liking the look of it so far. Can you let me know if it will work for us in terms of support from Freya and whether you can install it on the server?

I suggest we do hourly or daily stats generation runs simply because it gives us the ability to spend more time doing interesting maths because we don't have to serve a quick http response. Maybe a

[2015-03-11 15:47] kashike commented on #34
@lol768 https://github.com/influxdb/influxdb-java - Let me know if that will work for what would need to be submitted from Freya

[2015-03-11 15:58] bendem commented on #32
I added `data-event-type` and `data-event-id` to each line.
The rest is adding a button toggle triggering some js, but I'm not sure of where to put it.

[code]

The button could be added next to the tail button (see #2)

[2015-03-11 17:01] lol768 commented on #34
@Kashike Yup! Might want to do it asynchronously if possible just to avoid slowing down the bot (or does PircBotX work like that anyway?)

[2015-03-11 17:03] lol768 commented on #32
Yeah, we need some sort of secondary nav button group or similar across the top. Still working on the SASS code for that but we have buttons now.

[2015-03-11 17:27] Zarthus commented on #35
I strongly dislike smooth-animation scrolls (especially if they take too long) and prefer immediate-starts-at (Like how SO does it)

[2015-03-11 17:51] lol768 commented on #35
Yeah, to be fair the smooth scrolling is probably more of a gimmick and/or annoyance than anything useful.

[2015-03-11 18:56] bendem commented on #35
What about message ranges? If the selection fades out, you can't see what was selected after the animation.
And just making the selection blink sounds kinda sparkles to me.

Not that I'm against it, just that I don't really see the point of it.

[2015-03-11 19:18] lol768 commented on #35
---

Fading out after would be silly, yes. Making it 'pulse' or 'flash' (see https://daneden.github.io/animate.css/ for my inspiration) would serve the purpose of making it clear what has been highlighted.

Multiple message ranges are an issue. I can only suggest we apply this animation to the first range we encounter (and only scroll to the centre of the page for that range too).

This is inspire

[2015-03-13 09:28] bendem commented on #32
I was thinking, maybe an openable thing with checkboxes for all the message types (not only join/part) would be neat.

[2015-03-13 09:56] Zarthus commented on #32
That's nice, but what events would you make hidable in there? i don't think it needs to be openable if it is just quit, join, part (and maybe privmsg). Are there other events that need hiding?

[2015-03-13 10:07] bendem commented on #32
You could hide all the message types: join, part, quit, message, action, topic, nick, mode, kick (could be useful if you're not actually looking for a message but a kick, a mode, a topic change or such things).

[2015-03-13 10:40] nathyong opened #36 "Add messaging feature"
It would be convenient to send messages to offline users using a command such as `.msg` or `.tell`, perhaps with the following syntax:

[code]

The message could then be delivered to korobi using a hilight or a query when the user is online again -- either when they have logged back in or when they have sent a message.

[2015-03-13 11:24] Zarthus commented on #36
You have MemoServ for this, I don't think this is a task that Korobi should do (and a lot of third party bots already implement this, I very rarely see it used properly).

[2015-03-13 16:24] lol768 commented on #36
This assumes the user has a NickServ account.

[2015-03-13 16:25] lol768 commented on #32
Sounds neat for advanced users, but I'd suggest some simple buttons with sane defaults for users who just want to filter out the most common cruft

[2015-03-13 17:05] lol768 opened #37 "Log parser doesn't add leading zero to nick colours in action messages"
https://dev.korobi.io/esper/korobi/logs#L144

[2015-03-13 17:24] bendem commented on #37
Fixed in https://github.com/korobi/Web/commit/ee5a5bdb8e6d8ebb8a7b0736b4e77cd3e5ae6236

[2015-03-13 17:24] #37 closed, assigned to bendem

[2015-03-13 17:24] lol768 commented on #37
Cheers

[2015-03-13 21:25] bendem commented on #9
Would a floating button be the solution for all the log options we don't know where to place?
I'm thinking of something like the floating button from material design displaying multiple buttons when hovered.
The multiple buttons could be a tail button, a calendar button opening a date picker, a button to hide join/part messages and a button for advanced filtering opening a side panel

Floating but

[2015-03-13 21:26] lol768 commented on #9
My concern is http://www.webpagesthatsuck.com/mysterymeatnavigation.html

[2015-03-13 21:35] bendem commented on #9
I don't think there is currently another way to integrate new features to the log view than a floating/fixed buttons. Putting buttons on the top or the bottom of the page would involve heavy scrolling for channels with large activity.

[2015-03-13 21:38] lol768 commented on #9
What about users with screens <= 68em in width? There's not really any space for the floating sidebar nav. I agree with the scrolling issue, too but it might be worth thinking about how often the buttons are actually going to be used. Are you likely to need to keep going back and forth from the logs to the buttons?

[2015-03-13 21:41] bendem commented on #9
Floating icons are especially good for smaller screens actually (that's the reason it works so well for android designs).

That's a good point. Would it make sense to have all these options on top and a _back to top_ button instead?

[2015-03-13 21:47] lol768 commented on #9
That could work. @lDucks added a floating "back to top" button on a project we worked on once.

[2015-03-13 22:47] lol768 opened #38 "No padding at bottom of logs"
Mind looking at this? I know you'd previously done stuff with this before

[2015-03-14 19:09] anna-is-cute opened #39 "Log word wrapping"
http://i.imgur.com/vhrliu8.png

[code]

[2015-03-14 19:10] anna-is-cute opened #40 "Voice-only notices"
[code]

[2015-03-14 19:11] Zarthus commented on #40
agreed, vnotices and higher should not be logged. (unless we can make a system where only voices in the channel can see them)

[2015-03-14 19:15] anna-is-cute commented on #40
It would have to be so voices could only see notices from when they actually had voice in the channel, too. If someone is devoiced, a vnotice happens, then they're revoiced, they can just check the logs and see what they didn't see unless further precautions are taken.

Easier to just exempt them.

[2015-03-14 19:50] kashike commented on #40
Should be fixed in https://github.com/korobi/Freya/commit/9029378dd5fe644d5850ca2a96153cbb7d65b196. Web needs to be updated to reflect changes.

[2015-03-14 23:13] lol768 commented on #40
Closing this now since Web has been updated. Cheers @jkcclemens for reporting this and @kashike  for fixing. Surprised it wasn't noticed earlier.

[2015-03-14 23:13] #40 closed, assigned to nobody

[2015-03-14 23:14] lol768 commented on #39
Can you give a permalink to the channel log this happens on?

[2015-03-14 23:35] lol768 commented on #38
@Kashike Can you reproduce this one? Not sure I can anymore :o

[2015-03-15 00:10] lol768 commented on #28
This was found to still be a problem and subsequently patched in https://github.com/korobi/Web/commit/b20263ecbef5ad8cd1dcd2a31305356790beacae. Unfortunately this patch also breaks linking. This didn't directly hurt visitors using modern browsers due to the CSP we have set up but it's still a cause for concern.

We need a better way of ensuring that this doesn't continue to be an issue so I'm leav

[2015-03-15 00:11] kashike commented on #28
@bendem

[2015-03-15 00:17] lol768 commented on #3
@Hoolean

[2015-03-15 09:48] bendem commented on #39
That was the reason we rewrote the parser no? Because unclosed tags were breaking the layout

[2015-03-15 09:55] bendem commented on #38
I set a margin at the end of main fixing that for logs and also every other pages using main as central element in https://github.com/korobi/Web/commit/4af9d8ec46ef973bea63672511f95ff38af8b2ad

[2015-03-15 15:37] lol768 commented on #38
Yeah, I can only assume I had the CSS cached or something

[2015-03-15 15:37] #38 closed, assigned to bendem

[2015-03-15 15:38] lol768 commented on #39
Oh, I didn't realise this was old. @jkcclemens Let us know if you can repro on prod.

[2015-03-15 15:38] #39 closed, assigned to nobody

[2015-03-15 15:40] lol768 commented on #31
I've added a `data-nick` attribute to the `<div>` elements for this.

[2015-03-15 15:42] lol768 commented on #26
Closing since this is mostly about tables

[2015-03-15 15:42] #26 closed, assigned to nobody

[2015-03-15 15:44] lol768 commented on #34
We're conveniently ignoring the fact that events aren't independent when netsplits happen or BNC services die :wink:

[2015-03-15 23:42] lol768 opened #41 "Misleading output when removing a particular value from a command"
I'm told `Command '.hit' removed. Old value: 'hits {0} with a {1...}'.` even though I only removed one value from the command

[2015-03-15 23:42] lol768 opened #42 "No error messages given to users"
- When using cmdinfo on a command that doesn't exist, the user should be informed
- When using delcmd on an index that doesn't exist, the user should be informed

[2015-03-15 23:43] lol768 opened #43 "Value indexes should be displayed next to the values in cmdinfo output"
Example:

[code]

[2015-03-15 23:44] lol768 opened #44 "Value indexes should be 1-based"
These are more user friendly for non-developers

[2015-03-15 23:51] lol768 commented on #43
Fixed in Korobi/Web.

[2015-03-16 00:22] #43 closed, assigned to nobody

[2015-03-16 00:22] #44 closed, assigned to nobody

[2015-03-16 00:31] kashike commented on #42
item 1 closed in https://github.com/korobi/Freya/commit/0492e6023b093e7c3418859d001b5e9f802f8ca8

[2015-03-16 00:32] #42 closed, assigned to nobody

[2015-03-16 01:14] lol768 commented on #44
Gracias

[2015-03-16 01:50] Hoolean commented on #3
Personally, I'd like to see raw text as well as JSON. I'd be happy to write a view that converts the JSON into various IRC log formats if I find the time. :)

[2015-03-16 01:51] Hoolean commented on #3
See the possible code here -->

[2015-03-19 01:12] matthewprenger opened #45 "Permission add button doesn't work"
The permission `add` button on the channel admin page of [korobi.io](https://korobi.io) doesn't do anything anymore. A new permission line is not created.
http://puu.sh/gGaBU/a43b0e5d8f.jpg

[2015-03-19 13:49] lol768 commented on #45
Works fine in staging. @Kashike Can you reproduce this in staging?

[2015-03-19 13:52] lol768 opened #46 "Parameter "channel" for route "channel" must match "[^/]++" ("" given) to generate a corresponding URL."
Network pages don't seem to load at all. I can only repro this for EsperNet - Rizon works fine.
A GET to /esper on staging gives the InvalidParameterException with message in the title. Makes me think there's an invalid channel in the config or something (not sure this is strictly a web issue, but it should still be better handled regardless)..

[2015-03-19 14:46] kashike commented on #45
Forgot to close this last night.

[2015-03-19 14:46] #45 closed, assigned to nobody

[2015-03-19 15:07] bendem commented on #28
That is fixed and shouldn't happen ever again.
I have no idea how to setup a nicer test that the one we currently have tho.

[2015-03-19 16:47] kashike commented on #46
Fixed in https://github.com/korobi/Web/commit/13ce83f435f47361217482bc08e2b5a6b629bbc3.

[2015-03-19 16:47] #46 closed, assigned to nobody

[2015-03-20 16:38] bendem opened #47 "Channel sorting is sorting all uppercased names before lowercased ones"

[2015-03-20 16:43] #47 closed, assigned to nobody

[2015-03-20 16:56] kashike commented on #47
I lied, fixed in https://github.com/korobi/Web/commit/d6c6472f72607f5de318aa31f19472444e2871e9.

[2015-03-20 21:49] jamierocks commented on #3
I quite like @bendem's JSON view, however a text file might also be nice to have.

[2015-03-21 01:22] turt2live opened #48 "As a user I'd like to see logs in my own timezone so that I know when events occurred."
This can be done either by reading the browser's timezone or by having the user specify a timezone (more intrusive).

[2015-03-21 08:35] bendem commented on #3
With the last changes, I think we could encode into multiple formats based on the content-type request header.
What do you think would be a good text/plain format? Would it be better if the messages were parsed and htmlified, unchanged or stripped from format chars?

[2015-03-21 10:16] bendem commented on #48
[korobi/Web@`5a1aa69...a986579`](https://github.com/korobi/Web/compare/5a1aa692939abc89db145bfd3eedf174ca68727e...a986579e8eb1374e3c863beda41c39ecbff8758b?w=1) implements that behavior.
Would an option to see logs in another timezone be wanted (if so, it'll wait for #9 with the others)?

[2015-03-21 13:03] lol768 commented on #3
To me plaintext would have no formatting characters, no HTML etc.

[2015-03-21 13:09] lol768 commented on #48
This is going to be problematic. If we translate times client-side with JS (which I believe @bendem has done):
- The server will request the day's logs. The server will assume the day starts at 00:00 **UTC** which would mean that logs would break into a new day at odd times depending on the user's timezone
- This means you might only ever see local times which are offset, e.g. no events before 02:

[2015-03-21 19:56] Zarthus opened #49 "Timestamp padding"
The padding-right on timestamps makes for an awkward small region of the logs that is still clickable (and will highlight your logs), even when you don't intend to.

![Timestamps](http://i.imgur.com/L7FWFBs.png)

[2015-03-21 20:02] Zarthus opened #50 "data-nick="*" should be data-nick="nick" on ACTIONs"
[code]

note: this also is true for `<--` and `-->` and `--`

[2015-03-21 20:04] lol768 opened #51 "Rightclick shouldn't highlight lines"
Issue split from #49:

**@Zarthus said:**

[2015-03-21 20:05] lol768 commented on #49
Split this one into two issues, see #51 for the right-click highlighting. The padding issue seems like more of a CSS thing, whereas we'll do the right-click checking in JS.

[2015-03-21 20:05] Zarthus commented on #49
you 'atta boy!

[2015-03-21 20:17] #51 closed, assigned to lol768

[2015-03-21 20:18] Zarthus commented on #51
:+1:

[2015-03-21 20:27] bendem commented on #51
https://github.com/korobi/Web/commit/277bf72015a2d4280d3c99dfa03ad249d1e656ad

[2015-03-21 20:28] bendem commented on #49
https://github.com/korobi/Web/commit/277bf72015a2d4280d3c99dfa03ad249d1e656ad

[2015-03-21 20:44] bendem commented on #49
I can't css, ignore me

[2015-03-21 20:52] lol768 commented on #49
/me gives @bendem a gold star for trying

[2015-03-22 05:08] turt2live commented on #48
Might I suggest something like this workflow:
1. User visits log page (`/channel/logs/[day]`)
2. JavaScript detects timezone and requests logs (`AJAX to /somewhere?timezone=...`)
3. Server gets the specified day of logs
4. JavaScript appends a timezone parameter to the URL (URL is now `/channel/logs/[day]?timezone=...`, for example)
5. User can now share the link safely while still highlighting lo

[2015-03-22 11:22] lol768 commented on #48
We can do items 1, 2 and 3 (though this will require an extra HTTP request to grab the logs). This will mean JS is required for viewing logs so maybe a fallback route would also be a good idea.

@bendem will know more about this than me, but I think we can use the [history API](https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/Manipulating_the_browser_history#Adding_and_modifying_history_

[2015-03-23 00:27] lol768 opened #52 "Document auto message functionality"
![](http://i.kitteh.club/MjMzO)
Once deployed of course

[2015-03-25 18:20] #49 closed, assigned to nobody

[2015-03-25 18:31] kashike commented on #28
Closing for now.

[2015-03-25 18:31] #28 closed, assigned to nobody

[2015-03-25 18:52] kashike opened #53 "Trim nickname length"
[code]

[2015-03-25 18:53] #41 closed, assigned to nobody

[2015-03-25 19:23] bendem commented on #49
:+1:

[2015-03-25 23:43] bendem commented on #53
https://github.com/korobi/Web/compare/570755e...65645e0

[2015-03-25 23:43] #53 closed, assigned to bendem

[2015-03-26 11:17] bendem commented on #50
That could be fixed by moving `nick` to `displayName` (using `LogParser::getDisplayName`) and changing `LogParser::getActorName` to return the nickname everytime [here](https://github.com/korobi/Web/blob/751a90ce9b2c26cd196b8964757a5966ec97a590/src/Korobi/WebBundle/Controller/ChannelController.php#L262).

[2015-03-29 20:31] #50 closed, assigned to bendem

[2015-03-31 00:19] drtshock opened #54 "Detect flood and react by kicking, banning, warning, etc."
Ability to impose a stricter rate limiting than the network (esper) has for situations like
https://twitter.com/drtshock/status/582698147903774720

[2015-03-31 00:21] kashike opened #55 "Repeated phrase detection and react to that by kicking, banning, warning, etc."
ref korobi/Korobi#54

[2015-03-31 00:21] kashike opened #56 "Listen to phrases in a blacklist and react to those by kicking, banning, warning, etc."
ref korobi/Korobi#54
ref korobi/Korobi#55

[2015-03-31 11:08] lol768 commented on #56
Perhaps a weighting system would work. Non-ascii phrases flooded could be deemed more likely to be spam

[2015-03-31 16:07] Zarthus commented on #56
I don't want the service to alter my logs. Especially for cases when people report people and I look back in the logs. If I see no spam, I most likely will ban the user for trying to get someone else banned.

In other words: I **strongly** disagree. Do not let Korobi alter any logs. If you MUST implement this, do it either by option that is default off, or by greying them out and collapsing them

[2015-03-31 16:15] lol768 commented on #56
For anyone who comes across the issue, AFAIK there are no plans to alter logs - the goal is to automatically punish (kick/ban/both) users who are spamming. See https://korobi.io/esper/drtshock/logs#L102,103,104,109,110 https://twitter.com/drtshock/status/582698147903774720 for more details.

[2015-05-08 13:29] kashike commented on #5
poke @lol768

[2015-05-08 15:12] lol768 commented on #5
Can we get staging working again to allow for this to be more easily tested before deployment to production?

[2015-05-11 18:36] kashike opened #57 "GitHub issue/PR linking"

[2015-05-17 15:14] jamierocks commented on #57
This is being worked on :D

[2015-06-12 17:18] kashike opened #58 "Channel UI"

[2015-06-12 17:19] kashike commented on #58
https://github.com/korobi/Web/issues/15

[2015-06-12 17:23] jamierocks commented on #58
:( can't see the Web commit :(

[2015-06-13 16:20] lol768 commented on #10
- [ ] Introduction to Korobi
- [ ] Feature suggestions and bugs
- [ ] Using channel commands
- [ ] Accessing channel logs
- [ ] Using channel stats
- [ ] Requesting the bot for your channel
- [ ] Moderation features
- [ ] Channel management

[2015-06-13 16:23] kashike commented on #29
I'm going to close this, we've done hundreds of deploys since this was made.

[2015-06-13 16:23] #29 closed, assigned to nobody

[2015-06-13 16:24] kashike commented on #57
https://github.com/korobi/Felix/commit/4b57e4648edcafd94b6c928418551b62b01eee03

[2015-06-13 16:24] #57 closed, assigned to nobody

[2015-06-13 17:25] kashike opened #59 "Exit code 0 on failure is wrong."
The build should not be successful when it fails.

[2015-06-13 18:00] bendem commented on #32
Basic toggle part/join is implemented in staging

[2015-06-13 18:03] lol768 commented on #32
:+1:

[2015-06-13 19:51] bendem commented on #33
[code]

[2015-06-13 19:55] #30 closed, assigned to nobody

[2015-06-13 19:57] bendem commented on #21
Kinda related to #31

[2015-06-13 19:59] bendem commented on #2
That can now be easily implemented thanks to the changes in https://github.com/korobi/Web/commit/adf4bcd2c8cee2b065d7ed3a54ba3f249196dd04

[2015-06-13 20:02] bendem opened #60 "Rework navigation on small screens"
Current behavior of pushing the full layout down to display 3 buttons is annoying. I'd like to implement something like that:
![](http://i.imgur.com/YhbkmiC.png)

[2015-06-13 21:22] lol768 commented on #21
We have indexes now on message, actor_name & actor_hostname!

[2015-06-13 21:22] anna-is-cute commented on #21
indices*

[2015-06-13 21:23] lol768 commented on #21
http://online.wsj.com/mdc/public/page/2_3022-intlstkidx.html

[2015-06-14 11:09] Zarthus opened #61 "Too long nicknames stay slightly faded in before disappearing."
http://i.imgur.com/6swgNyy.gif
https://korobi.io/esper/korobi/logs/2015/06/13#L1301

it seems to stay slightly faded in for .5 seconds or so

[2015-06-14 11:11] Zarthus opened #62 "Docs should use monospace font rather than italics for command syntaxes and help strings"
for example: https://docs.korobi.io/channel/commands/removing.html

**Usage:** _.<delcmd|unsetcmd> [-i <index>] <name>_

Should be:

**Usage:** `.<delcmd|unsetcmd> [-i <index>] <name>`

And

so to remove the first value of the hit command you could use _.delcmd -i 0 hit_.

Could similarily become:

so to remove the first value of the hit command you could use `.delcmd -i 0 hit`.

[2015-06-14 11:22] Zarthus opened #63 "Decrease load times on large log files."
When a log file is above 1,000 lines, truncate it to 500 logs. As the user scrolls down, automatically fetch another row of 500 lines, etc.

This would have to be trickily implemented when highlights are being linked, seeing as you can have more than one line highlight.

[2015-06-14 11:48] bendem commented on #63
Having logs populated with ajax by default would degrade the experience of users with js disabled devices

[2015-06-14 11:51] Zarthus commented on #63
You could paginate it for when JS is disabled, having a 'go to next set of logs' generating the logs 500 to 1000, etc. When the JS detects you're near the bottom, it'll remove the 'go to next set' and instead grabs it via ajax.

If an active channel has ~3000+ logs, it's a sure way to freeze a browser for at least several seconds. An even more active channel (which is totally possible over the cou

[2015-06-14 11:55] jamierocks commented on #62
This seems to be an issue with Sphinx as it uses < cite> and not < code>. I will speak about this in IRC as we can change the style from <code>code {</code> -> <code>cite {</code>. this would fix the problem, but preferably we want to see if we can get sphinx to use < code> in the first place.

[2015-06-14 11:57] bendem commented on #62
as I said, semantic. From the [spec](http://www.w3.org/TR/html-markup/cite.html): _"The cite element represents the cited title of a work; for example, the title of a book mentioned within the main text flow of a document."_

[2015-06-14 11:59] jamierocks commented on #62
It's understandable from the above description why it is using < cite>. We wouldn't be going too far of it's definition by using it.

[2015-06-14 12:26] lol768 commented on #62
I'm not sure how you got to that conclusion :/

<cite> is not for quotes per the [standard](https://html.spec.whatwg.org/multipage/semantics.html#the-cite-element), it's explicitly for the cited title of a work. Example:

[code]

`.<delcmd|unsetcmd> [-i <index>] <name>` is not the _title_ of a work. Nor is it a reference to a particular work. It's just some usage information.

Why's it matter, you

[2015-06-14 12:28] jamierocks commented on #62
Eh, I will try get this done ASAP.

[2015-06-14 12:52] lol768 commented on #63
Have you got a link to a particularly slow logs page?

[2015-06-14 14:57] Zarthus commented on #63
Anything with a buttload of logs. it's the entire process of receiving the data and loading the css that makes it take so long.

I know https://korobi.io/esper/FTB/logs/2015/06/13 is rather active commonly, but anything that just has a load of content will be slow due to how much you send. The page I just linked took me roughly 10 seconds to load with caching disabled.

[2015-06-14 16:16] kashike commented on #5
https://github.com/korobi/Web/commit/c7454db9789cc8d69328e1e327c5722cb9789b35
https://github.com/korobi/Web/commit/a2a5f268e2f6922e51a07380df6cc660ff095fa0

[2015-06-14 16:55] #5 closed, assigned to lol768

[2015-06-14 17:04] bendem commented on #63
I'm pretty sure the size of the html has nothing to do with it. I'll try and see where is the bottleneck (I'd say it's either the log parsing server-side or a badly optimized js)

[2015-06-14 17:08] Zarthus commented on #63
it's both server and client side. The more html/css/js you have to process the slower your page will load. pages with less logs definitely load faster.

Loading a text file in a text editor with 10,000 lines is significantly slower than loading one with 1,000.

[2015-06-14 18:19] bendem commented on #63
I removed the js looping through each line of log, that should be a bit better. The rest needs optimization server side

[2015-06-14 20:43] lol768 opened #64 "Korobi/Internal#4"
Korobi/Internal#4

[2015-06-14 20:48] bendem opened #65 "grabAvailableLogDays reports false positives"
https://dev.korobi.io/esper/korobi/logs/2015/06/06 is marked has having logs, but it doesn't

[2015-06-14 21:14] #64 closed, assigned to lol768

[2015-06-14 21:27] #2 closed, assigned to bendem

[2015-06-14 21:49] lol768 commented on #65
It _does_ have logs.

[2015-06-14 22:38] #65 closed, assigned to lol768

[2015-06-14 22:40] lol768 opened #66 "2010 isn't greyed out"

[2015-06-14 22:41] lol768 commented on #66
same for 2009, 2008 etc

[2015-06-15 00:28] bendem commented on #66
https://github.com/korobi/Web/compare/ee3796a41f0ff3af45bcfdf17c7d2c297d1944ed...137e279c1c66d8449b56f7642a4e3a7ee4ef37fd

[2015-06-15 00:28] #66 closed, assigned to bendem

[2015-06-15 13:36] bendem opened #67 "Duplicated channels on the network channel listing"
See how there is `#Alissa` and `#alissa` on https://korobi.io/esper

[2015-06-15 15:45] #67 closed, assigned to nobody

[2015-06-15 15:52] jamierocks commented on #67
@kashike commit?

[2015-06-16 20:50] jamierocks commented on #62
The thing is - Sphinx has these cool things called code-blocks... the issue is it kind of requires a language.

My guess would be 'bash' if it is supported.

[2015-06-16 20:52] bendem commented on #62
[Doc](http://sphinx-doc.org/markup/code.html) seems to say you can use `none` tho

[2015-06-16 20:54] jamierocks commented on #62
Well there we go :D

[2015-06-16 20:54] jamierocks commented on #62
Will fix tomorrow - going to sleep soon

[2015-06-16 20:54] lol768 commented on #62
bendem to the rescue!

[2015-06-17 02:41] kashike opened #68 "korobi/Felix#1"
https://github.com/korobi/Felix/pull/1

[2015-06-17 04:01] kashike opened #69 "korobi/Web#25 Display notice message when date has no logs"
https://github.com/korobi/Web/issues/25

[2015-06-17 04:02] kashike commented on #63
I believe this has been resolved. @bendem

[2015-06-17 11:18] bendem commented on #63
The only bottleneck left is the datepicker, but I think it's ok to keep it that way

[2015-06-17 11:18] #63 closed, assigned to nobody

[2015-06-17 11:32] lol768 opened #70 "Tail page should have an appropriate title to make it clear it's a tail page"

[2015-06-17 12:05] bendem commented on #69
https://github.com/korobi/Web/commit/ffb2ff11881b1642ca3ec60554e4ad4d613ca54b

[2015-06-17 12:05] #69 closed, assigned to nobody

[2015-06-17 12:05] lol768 commented on #69
@bendem Should we still send a 200 OK for these scenarios?

[2015-06-17 12:07] bendem commented on #69
The only way to access these pages would be by typing the url or consulting the logs of the day. In both case, I don't think there is a need for that.

[2015-06-17 12:07] lol768 commented on #69
My worry is someone sending a link to a page with no logs and it somehow getting indexed.

[2015-06-17 12:09] bendem commented on #69
Should probably send 404 if the date is not provided then.

[2015-06-17 12:09] #70 closed, assigned to nobody

[2015-06-17 12:11] bendem commented on #69
https://github.com/korobi/Web/commit/a989152307b578b57984e425ab6cd4cd2ff2299f

[2015-06-17 12:13] lol768 commented on #69
Seems to work, https://dev.korobi.io/esper/korobi/logs/2016/06/19/

[2015-06-17 12:14] lol768 commented on #52
@jamierocks Any interest in tackling this? Happy to give a hand if you want but I'm not sure where to get started creating pages etc

[2015-06-17 12:21] lol768 opened #71 "RTD is still indexed, seemingly not used anymore?"
http://korobi.readthedocs.org

https://www.google.co.uk/search?q=Korobi+Documentation

It's great that docs.korobi.io is #1 but I'd still prefer it if we could get rid of the RTD page if it's not in use.

[2015-06-17 13:01] jamierocks commented on #71
Yeah - removing it would be great :)

[2015-06-17 13:10] #35 closed, assigned to bendem

[2015-06-17 13:54] bendem commented on #21
Search should be available from everywhere on the site and provide quick access to networks and channels.
Basic mockup on desktop would look like the image below; while the mobile interface would go fullscreen.
![](https://i.imgur.com/R3OHRIU.png)

Focusing the search box would send an ajax request to get the possible channels (maybe be cached in session/localStorage) and suggest a search for chan

[2015-06-17 14:17] bendem commented on #21
#60 needs to be done first

[2015-06-17 14:43] jamierocks commented on #21
Sphinx has the capability to search as well... Would we have separate search or unified search? - I recommend unified although it may be tricker to set up.

[2015-06-17 14:50] lol768 commented on #21
heh, I didn't consider docs searching - I presume that's what Sphinx can do?

[2015-06-17 14:50] lol768 commented on #62
Any updates on this one @jamierocks?

[2015-06-17 15:00] jamierocks commented on #62
@lol768 I will start working on this now :D

[2015-06-17 15:01] lol768 commented on #62
Great!

[2015-06-17 15:01] jamierocks commented on #21
Yes Sphinx can do search - see sponges docs as a demo

[2015-06-17 15:04] jamierocks commented on #52
@lol768 My knowledge of this feature is limited, if you like I can teach you how to use Sphinx? or I can make any markdown you have into restructured text.

[2015-06-17 15:11] lol768 commented on #21
We can have an option for a docs search perhaps:

![](http://i.imgur.com/jWNouM5.png)

Probably docs search should be at the bottom, though.

[2015-06-17 15:12] jamierocks commented on #21
Yes - that would be nice

[2015-06-17 16:02] #71 closed, assigned to kashike

[2015-06-17 16:23] lol768 commented on #52
Korobi supports sending automated messages in response to various triggers as part of the channel AI module. If you have the necessary permission, you can add and remove as well as update existing patterns for your channel. Patterns are available to view via the web interface. For an example, see https://dev.korobi.io/esper/factions/ai/.

# Creating a pattern

Creating a pattern is as simple as is

[2015-06-17 19:24] #68 closed, assigned to kashike

[2015-06-18 23:54] bendem commented on #48
I implemented local timezone toggling in https://github.com/korobi/Web/compare/41a07fdef5364fc3063e7399e5e5a03a05ae9111...3a5961c14ff48a14fdac342bba0258e3f4dbe62f.

Do you really want all that complex stuff you're talking about? I mean, I don't think anybody will really be bothered if the log doesn't start at midnight.

[2015-06-19 13:19] lol768 commented on #48
It's highlighting that'll be problematic though, bendem. I'm less bothered about when the logs start.

[2015-06-19 22:44] lol768 opened #72 "Vote on future route choices!"
We need help deciding on how best to structure the routes for the site! Please vote below if you have a few seconds.

Prefix Options:
- [ ]  `/irc/`
- [x] `/network/`

Route Options:
- [ ] `/{prefix}/{network}/{channel}/{component}/`
- [x]  `/{prefix}/{network}/channel/{channel}/{component}/`
- [ ]  `/{prefix}/{network}/chan/{channel}/{component}/`
- [ ] `/{prefix}/{network}/view/{channel}/{compon

[2015-06-19 22:51] Zarthus commented on #72
The /network prefix for sure with /channel/{channel}/{component}, evilmidget on irc concluded my thoughts on it nicely.

[code]

`/network/{network}/channel/{channel}/{component}/`
It's just gorgeous and I would like to make love to it.

[2015-06-19 22:52] lol768 commented on #72
What Zarthus said

[2015-06-19 22:53] lol768 commented on #72
What Zarthus said, minus the bit about making love to a route structure.

[2015-06-19 22:58] kashike commented on #72
I agree with [@Zarthus](https://github.com/korobi/Korobi/issues/72#issuecomment-113664519).

[2015-06-20 01:54] natemort commented on #72
What @lol768 said, plus the bit about making love to a route structure.

[2015-06-20 09:58] bendem commented on #48
Well, the user can currently choose to view the logs in their local timezone or UTC (which is the goal of this issue), only the timestamps change.
So the only problem would be that the logs start at midnight UTC which can be different for each timezone.

[2015-06-20 10:21] bendem commented on #72
URIs represent the hierarchic structure of a website; the current navigation scheme of korobi to get from homepage to a channel component is `networks -> network -> channel -> component`. It would thus make sense to me to have some kind of representation like `/networks/{network}/{channel}/{component}/{component option}`.

Removing each part of the URI should imo send you back to the parent page w

[2015-06-20 10:44] bendem commented on #72
After speaking with Zarthus, I see I missed one of the problems. A network isn't only about channels, it also has stats. I'm thus voting for `{prefix}/{network}` containing the network landing page and `{prefix}/{network}/channel` containing the channels of the network.

My vote goes then to `networks` for the prefix and `{prefix}/{network}/channel/{channel}/{component}` for the channel component

[2015-06-20 14:14] lol768 commented on #48
@bendem Yeah, which would mean links to particular lines no longer correlate and users sharing links to particular lines generate URLs which only work for those in the same timezone (unless I'm missing something?)

Maybe we should disable highlighting when the local timezone option is selected?

[2015-06-20 14:17] bendem commented on #48
Links are based on their position on the page, not on timestamps.
So if I link to `#1-2`, you'll see the first 2 lines highlighted, with the timestamps of your local timezone (or UTC if not active). And I'll see the same 2 lines highlighted, but with the timestamps of my local timezone (or UTC if not active).

[2015-06-20 15:52] bendem commented on #48
[code]

[2015-06-20 15:52] lol768 commented on #62
@jamierocks is this fixed? Can this be closed?

[2015-06-20 16:12] bendem commented on #62
OK, it seems like the solution would be to use `.. code-block:: none` instead of `.. code::` for code blocks. Then styling `.highlight pre` a bit and all should go along nicely.

[2015-06-20 17:47] lol768 opened #73 "Remove light theme"
I'm not convinced anyone uses the light theme. A lot of the components look terrible when using it and logs are unreadable.

Anyone have a problem with it being removed?

[2015-06-20 17:47] bendem commented on #73
:+1: \o/

[2015-06-20 17:48] lol768 commented on #73
@Kashike @Zarthus @evilmidget38 might have thoughts on this

[2015-06-20 17:52] jamierocks commented on #73
No docs support anyway, often looks horrid.

[2015-06-20 17:56] natemort commented on #73
I kind of like the look of the light theme, but I'll agree that in its current state it's nonfunctional, and if no one else really wants to maintain it, then it might as well be removed.

[2015-06-20 22:08] kashike commented on #72
https://github.com/korobi/Web/commit/0e3bea53f673be3538284448e2278fe55d071e61

[2015-06-20 22:08] #72 closed, assigned to kashike

[2015-06-20 23:01] lol768 opened #74 "Tail should be destructive WRT the oldest logs on the page"
In the same way the actual command works in unix/linux.

IMO 30 should also become 20 so the logs fit on one page without scrolling.

[2015-06-21 10:32] bendem commented on #74
`tail -f file` just prints the new content of the file, it doesn't remove the oldest line when a new one is printed past the limit, does it?

I personally don't think that behavior is needed, but it'd be really easy to implement.

If the scroll is the problem, we could also track the current scroll offset, if it's at the bottom, follow the logs as they get added, if not, don't do anything.

[2015-06-21 12:03] lol768 commented on #74
You're correct in that `tail -f` does the same as our tail page. I was referring more to `tail -n 30` or similar where only the last 30 lines are shown.

Scrolling is the annoying part. IMO, the tail is best suited to having a page where you can quickly see the latest messages in the channel at a glance whilst still being able to see the navbar, headings etc and interact with the links etc.

[2015-06-21 20:07] kashike opened #75 "Display notice when user has javascript disabled"

[2015-06-21 20:14] #75 closed, assigned to lol768

[2015-06-21 22:11] #73 closed, assigned to lol768

[2015-06-22 17:37] #62 closed, assigned to jamierocks

[2015-06-28 10:15] lol768 opened #76 "Footer seems kinda short"
2.35em looks a little less squashed, IMO. main margin would obviously need to be adjusted.

[2015-06-28 10:39] #76 closed, assigned to nobody

[2015-06-28 16:41] bendem commented on #61
Lies

[2015-06-29 22:34] lol768 opened #77 "Log highlight page jump when adding to selection"
Page jumps when adding to the log highlight selection.

[2015-06-29 22:34] lol768 commented on #77
cc @bendem

[2015-06-29 22:35] lol768 opened #78 "IMO when you start selecting a highlight that should be automatic (permalink)"

[2015-06-29 22:36] lol768 commented on #77
To reproduce:

Select a large block of lines.

Scroll down to the bottom of the page.

Add to the selection with ctrl + click. Cry out in shock as your browser forces you to jump back to the top of the page.

[2015-06-29 22:46] lol768 opened #79 "Share/permalink button to stop linkrot"
STR:
- Visit /logs/ page
- Highlight stuff
- Copy link
- Share link tomorrow
- Realise the link points at something else

[2015-06-29 23:26] lol768 opened #80 "Confusing checkbox behaviour on issues"
cc @Zarthus

[code]

[2015-06-29 23:45] Zarthus commented on #34
See https://stats.quakenet.org for inspiration.

[2015-06-29 23:53] Zarthus commented on #80
we talked about using a checkbox instead previously, respectively coloured orange or green..

[code]

[2015-06-30 08:48] bendem commented on #80
Github doesn't have a notion of "done/not done". It's `✓` when opened and `✗` when closed. Which makes sense imo.

[2015-06-30 09:08] Zarthus commented on #80
except that a check is often used to signify something is done, and a cross often means something isn't.

with the checkbox idea it is easier and less confusing to figure out "well this issue is [not] done"

It makes sense if you get it, but if it's not directly obvious (which it is not), we should alter it.

[2015-06-30 09:17] #77 closed, assigned to nobody

[2015-07-03 21:33] Zarthus commented on #54
would be nice.

[2015-07-05 20:50] lol768 opened #81 "@jkcclemens | I firmly believe that clients should show a diff when topic changes"
Future goal

[2015-07-05 20:50] kashike opened #82 "Hide hostnames in chat messages"
An option to change `Kitten (kitten@adorable.kittens) joined the channel` into `Kitten joined the channel` would be nice.

[2015-07-07 07:07] Hoolean opened #83 "Stats information exceeds bounds of browser window"
Opera 30.0.1835.59
Arch Linux

The stats, which appears to attempt to be centred, instead is too wide; this has the effect that - combined with the padding - it overflows.

![Piccy](https://i.imgur.com/8zghRFg.png)

[2015-07-07 10:12] Zarthus opened #84 "Stats does not show when the date of when the stats started being recorded."

[2015-07-07 10:15] Zarthus opened #85 "Rotate statistics monthly, so you can do /esper/drtshock/stats/2015-07 and find the statistics of that month"
Pretty similar to the current system we have for logs.

[2015-07-07 15:26] lol768 commented on #83
@kashike Thoughts on making this along with #84 and #85 depend on #34? Is there much point working on the pisg implementation?

[2015-07-07 15:40] Zarthus commented on #83
I do believe that was the idea. @lol768

[2015-07-07 20:32] kashike commented on #83
@lol768 That is the idea, yes.

[2015-07-08 15:53] lol768 opened #86 "Check NS account status in #factions before auto message"
Logged in users can probably be ignored.

Suggestion from Techcable. Should use WHOX, assuming mbaxter has support for it.

[2015-07-08 16:59] mbax commented on #86
WHOX support is nearly ready for use. Just need to properly handle users, as previously they had been immutable internally as well as via snapshots and now they're definitely not.

[2015-07-08 17:15] mbax commented on #86
Actually, from my brief testing I think it's pretty much ready to go. 0.2.8-SNAPSHOT will have it and after stronger testing that'll be released within a week.

[2015-07-08 17:16] lol768 commented on #86
Great to hear!

[2015-07-08 17:20] mbax commented on #86
Relevant commits:
https://github.com/KittehOrg/KittehIRCClientLib/commit/114ead0dc4277ec7b2000faf28d05871ccded1f3
https://github.com/KittehOrg/KittehIRCClientLib/commit/afda9479024a443a7527547db05b6425d4597adc
https://github.com/KittehOrg/KittehIRCClientLib/commit/af8d9c9fb4f5898db69cdbc8a3f71918ae0da982
https://github.com/KittehOrg/KittehIRCClientLib/commit/97ddba6ff9516ffd090335629a6172444b47250

[2015-07-10 13:10] kashike commented on #82
@lol768 thoughts?

[2015-07-11 17:07] Zarthus opened #87 "Web: When opting out of join/part messages, display there are no messages if there aren't any."
http://i.imgur.com/5ALshLf.png
http://i.imgur.com/qM87TOZ.png

versus when there are no logs initially:

http://i.imgur.com/uzYw0f4.png

[2015-07-11 17:08] jamierocks commented on #87
+1

[2015-07-11 17:42] bendem commented on #87
Totally my fault

[2015-07-12 14:38] Zarthus opened #88 "Quickly filter channels or networks based off of a small text field"
![image](http://i.imgur.com/ROSF8Np.png)

Aside from #21 (Searching) on the home page, a quick filter to look for channels (Similar to CTRL+F) would be nice.

[2015-07-12 19:05] lol768 opened #89 "Private messages with commands in don't do anything"
Tried this with kick, tried omitting the command prefix, tried inserting dollars before the command etc. Nothing - no errors or even an acknowledgement.

cc @bendem @Zarthus

[2015-07-12 21:06] #89 closed, assigned to kashike

[2015-07-12 21:07] lol768 commented on #89
great

[2015-07-14 12:21] Zarthus opened #90 "In .../$channel/logs/, the first line should be the topic."
Most clients display  the topic in the top / start of the join of the channel. I think Korobi should do the same.

[2015-07-14 12:22] kashike commented on #90
:+1:

[2015-07-14 16:43] #61 closed, assigned to nobody

[2015-07-14 16:43] #6 closed, assigned to nobody

[2015-07-14 16:44] #7 closed, assigned to nobody

[2015-07-14 17:06] Zarthus opened #91 "Allow visiting /channel/requesting without .html extension for docs.korobi.io"

[2015-07-14 17:21] #90 closed, assigned to nobody

[2015-07-14 18:25] jamierocks commented on #91
Was this discussed?

[2015-07-14 18:27] Zarthus commented on #91
If it is possible, yes.

The main website already strips extensions due to its router.

[2015-07-22 10:41] kashike opened #92 "Add light theme"
referencing https://github.com/korobi/Web/issues/85

[2015-08-06 20:14] kashike commented on #34
https://github.com/korobi/Web/issues/125
https://github.com/korobi/Felix/issues/7
https://github.com/korobi/Internal/issues/25

[2015-08-11 02:31] mbax commented on #86
![any day now](http://i3.kym-cdn.com/photos/images/facebook/000/592/253/714.jpg)

[2015-08-17 23:32] jamierocks opened #93 "Look into using Doclab for the documentation"
Doclab is like a CI specifically developed for building documentation, and hosting it.
It is currently in developement (by @gratimax), and is awaiting a beta release.
Upon the beta release I will test it, and see if it is a good idea for us to use (my guess is it will be).

[2015-08-18 00:08] maxov commented on #93
:heart:

[2015-08-18 11:50] #86 closed, assigned to nobody

[2015-08-18 11:53] kashike commented on #86
![tada](http://i.imgur.com/08SqfHD.jpg)

[2015-08-18 11:54] kashike commented on #91
@jamierocks

[2015-08-18 11:56] jamierocks commented on #91
I was looking into this last night :P I didn't find anything related to it on their website, so I will take a look through the config.

Else there is a way we can strip the extensions, just it isn't as nice.

[2015-08-18 11:58] Zarthus commented on #91
I don't think it's a biggie, if gratimax's new docs prove to work nicely it's better if our attentions are focused there.

[2015-08-18 11:59] jamierocks commented on #91
I totally agree with you, however it would be nice to get this done as the rest of the site follows that standard.

[2015-08-18 13:45] mbax commented on #86
And there was much rejoicing

![yay](http://i.imgur.com/MKQIS73.gif)

[2015-08-18 14:06] mbax commented on #81
Diff or just "previous topic" if diff is too great?

[2015-08-18 21:27] lol768 commented on #82
Can't say I see this as an important one to have but it might be nice. We probably want a dropdown for all these toggles - can't keep expanding horizontally.

[2015-08-24 22:04] jamierocks commented on #92
Ideally we would use javascript to switch, so it works with the docs.

[2015-08-24 22:10] Zarthus commented on #92
I had the idea of placing two small buttons in the bottom right to switch themes, yeah.

Should be possible with

[code]

But I've never tried it out.

https://developer.mozilla.org/en-US/docs/Web/CSS/Alternative_style_sheets

[2015-08-24 22:14] jamierocks commented on #92
That would be cool.

[2015-09-13 05:19] octylFractal opened #94 "All commands listing"
Please @kashike.

[2015-09-13 09:34] jamierocks commented on #94
Where would you like them listed?
eg, as a command, on the docs

Also custom commands are already listed. eg https://korobi.io/network/esper/channel/korobi/commands/

[2015-09-13 16:03] octylFractal commented on #94
Both, preferably like `.listcmd`

[2015-10-06 06:29] Mikaela opened #95 "Have you asked ops for permission to bring the bot? [potential rule breaking]"
I am op on #znc and no one ever told me that we have any kind of public logging and I have strong suspicion of it being unauthorized by either @DarthGandalf or @psychon who are co-founders of #znc.

From the bottom of [freenode channel guidelines](https://freenode.net/channel_guidelines.shtml):

[2015-10-06 06:33] Mikaela commented on #95
It wasn't authorized by @DarthGandalf and I doubt @psychon did so either, so it has now been kbanned.

[2015-10-06 06:56] Mikaela commented on #95
`2015-10-06 09:49:31+0300 <-- Korobi (korobi@is.a.ninja.korobi.io) has quit (K-Lined)`

[2015-10-06 08:14] lol768 commented on #95
Thank you for the report.

[2015-10-06 11:26] kashike commented on #95
Firstly, we'd like to apologise for the inconvenience that we've caused you. We've removed all data relating to freenode from our database and will ensure that the bot doesn't publicly log any channels on the network without explicit permission from the owners of the channel in the future. We will be reviewing all channels on all networks to ensure there are no others the bot is present in without

[2015-10-06 11:34] Mikaela commented on #95
This is true, but freenode has never liked public logging bots which don't have permission for what they do and have k-lined them in the past and they will likely continue it in the future.

I am not sure, but I think that this reads in the guidelines instead of policy as channels are free to have public logging if they wish and policy might be seen like enforcing that it's not done.

For getting

[2015-10-06 12:15] kashike commented on #95
It's unfortunate this isn't more clearly documented. Thank you for letting us know, we'll work with the freenode team to try and get this resolved.

Yes, Zarthus mentioned that suggestion - it sounds like a good idea. Perhaps we can use the TAXONOMY command in order to query this information, in theory it should require less data to be looked up than the INFO command. We'll add this to the TODO li

[2015-11-16 08:19] kashike opened #96 "Birthday"
:birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :birthday: :bir

[2015-11-16 08:19] lol768 commented on #96
:tada: :balloon: :birthday:

[2015-11-25 03:28] Techcable commented on #95
CafeBabe has a thing where ops can /invite a bot.
It is easy for users requires no administrator intervention.
Settings should be able to be modified by channel operators using commands.

[2015-11-25 06:06] Mikaela commented on #95
Does it especially need the inviter to be owner or can anyone do that with mode +g (=anyone can invite on Charybdis) or equivalent mode (InspIRCd: +A)?

If anyone can invite the bot, this issue still exists.

[2015-11-25 11:52] kashike commented on #95
Korobi was designed to require administrator intervention for joining channels. The way it is designed requires initial settings to be configured when the join "request" is submitted, otherwise Korobi does nothing inside the channel (and limits the amount of chanels Korobi can join further).

We are (slowly) making progress towards making Korobi have better channel owner control, as well as meetin

[2015-12-16 00:20] nic-donaldson opened #97 "The channel logs view doesn't take local timezone into account when choosing which messages to show for the current date"
e.g. it is currently 11:17 on 16/12/15 in Sydney, UTC+10, and I can only see messages after 11:00. Messages before 11 supposedly happened on 15/12/15 and I have to go back a day to see the messages from earlier today.

[2015-12-16 08:25] bendem commented on #97
Referencing #48

[2015-12-26 20:21] lol768 commented on #48
Guess we'd better reopen this ref #97

[2016-02-05 00:43] #96 closed, assigned to nobody

[2016-02-27 21:57] kashike opened #98 "Status and statistics"
We need a status and statistics page - both public and internal.
- uptime
- queries processed
- misc db stats

[2016-02-27 21:59] Zarthus commented on #98
https://www.statuspage.io/?

[2016-02-27 22:00] kashike commented on #98
Sorry, I should have been more specific - I'm talking about Korobi-based pages, with Felix uptime/queries/etc

[2016-05-28 16:50] SupaHam opened #99 "Document Reminders"

[2016-06-05 10:52] #95 closed, assigned to kashike

[2016-06-23 11:46] SupaHam commented on #99
Resolved in edb715b.

[2016-06-23 11:46] #99 closed, assigned to SupaHam, Zarthus, kashike

[2016-07-20 16:22] mbax opened #100 "Latest Log Lacks Lines, Actions Are Adversely Absent"
Example latest log:

Corresponding full log:

[2016-07-20 16:26] kashike commented on #100
Seems fine to me? https://korobi.io/network/esper/channel/kitteh.org/logs/#L148-153

[2016-07-20 16:27] octylFractal commented on #100
I see actions in the log @kashike linked.

[2016-07-20 16:28] kashike commented on #100
:dancer:

[2016-07-20 16:40] Zarthus commented on #100
[code]

[2016-07-20 16:40] octylFractal commented on #100
Snapshot of above log from the link in the log: ![image](https://i.imgur.com/2RF0nOv.png)

[2016-07-20 16:44] kashike commented on #100
~~Not a bug, so unless this is a feature request it is invalid~~

[2016-07-20 16:57] #100 closed, assigned to kashike

[2016-07-20 17:21] mbax commented on #100
Joins,parts,quits,etc. are less important, but cutting out `/me` eliminates part of the conversation. Why is this not a bug?

[2017-04-26 23:48] mbax commented on #81
:+1:

[2017-04-27 00:01] anna-is-cute commented on #81
I hate you guys.

[2020-08-26 21:45] #3 closed, assigned to nobody

[2020-08-26 21:46] #9 closed, assigned to lol768

[2020-08-26 21:46] #10 closed, assigned to nobody

[2020-08-26 21:46] #14 closed, assigned to nobody

[2020-08-26 21:46] #21 closed, assigned to nobody

[2020-08-26 21:46] #36 closed, assigned to nobody

[2020-08-26 21:46] #34 closed, assigned to nobody

[2020-08-26 21:46] #33 closed, assigned to nobody

[2020-08-26 21:46] #32 closed, assigned to bendem

[2020-08-26 21:46] #31 closed, assigned to nobody

[2020-08-26 21:46] #98 closed, assigned to nobody

[2020-08-26 21:46] #97 closed, assigned to nobody

[2020-08-26 21:46] #94 closed, assigned to nobody

[2020-08-26 21:46] #93 closed, assigned to nobody

[2020-08-26 21:46] #92 closed, assigned to nobody

[2020-08-26 21:47] #91 closed, assigned to jamierocks

[2020-08-26 21:47] #88 closed, assigned to nobody

[2020-08-26 21:47] #87 closed, assigned to nobody

[2020-08-26 21:47] #85 closed, assigned to nobody

[2020-08-26 21:47] #84 closed, assigned to nobody

[2020-08-26 21:47] #83 closed, assigned to nobody

[2020-08-26 21:47] #82 closed, assigned to nobody

[2020-08-26 21:47] #81 closed, assigned to anna-is-cute, lol768, kashike

[2020-08-26 21:47] #80 closed, assigned to nobody

[2020-08-26 21:47] #79 closed, assigned to nobody

[2020-08-26 21:47] #78 closed, assigned to nobody

[2020-08-26 21:48] #74 closed, assigned to nobody

[2020-08-26 21:48] #60 closed, assigned to nobody

[2020-08-26 21:48] #59 closed, assigned to nobody

[2020-08-26 21:48] #58 closed, assigned to nobody

[2020-08-26 21:48] #56 closed, assigned to nobody

[2020-08-26 21:48] #55 closed, assigned to nobody

[2020-08-26 21:48] #54 closed, assigned to nobody

[2020-08-26 21:48] #52 closed, assigned to nobody

[2020-08-26 21:48] #48 closed, assigned to bendem